<style>
    #grid tr td {
        /* this makes the menu visibile */
        overflow: visible;
    }

    #grid .k-grid-header {
        padding-right: 0 !important;
    }
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Dyeing</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>



<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>
        <input id="access_token" data-ng-model="token" type="hidden"
               data-ng-init="token='@Session["access_token"]'" />
        <input ng-model="vmDF.CREATED_BY" type="hidden"
               data-ng-init="vmDF.CREATED_BY='@Session["multiScUserId"]'" />

        <input id="access_token" ng-model="vmDF.LAST_UPDATED_BY" type="hidden"
               ng-init="vmDF.LAST_UPDATED_BY='@Session["multiScUserId"]'" />

        <div style="padding:5px;">

            <kendo-grid id="grid" k-options="vm.gridOptions" k-data-source="vm.gridOptionsDS">

            </kendo-grid>
        </div>
    </div>
</div>


<script type="text/ng-template" id="batchCheckRollStatus.html">
    <style>
        .dropdown-header {
            border-width: 0 0 1px 0;
            text-transform: uppercase;
        }

            .dropdown-header > span {
                display: inline-block;
                padding: 10px;
            }

                .dropdown-header > span:first-child {
                    width: 10px;
                }

        .selected-value {
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            background-size: 100%;
            margin-right: 5px;
            border-radius: 50%;
        }

        #customers-list .k-item {
            line-height: 1em;
            min-width: 300px;
        }

        /* Material Theme padding adjustment*/

        .k-material #customers-list .k-item,
        .k-material #customers-list .k-item.k-state-hover,
        .k-materialblack #customers-list .k-item,
        .k-materialblack #customers-list .k-item.k-state-hover {
            padding-left: 5px;
            border-left: 0;
        }

        #customers-list .k-item > span {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            margin: 20px 10px 10px 5px;
        }

            #customers-list .k-item > span:first-child {
                -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
                -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
                box-shadow: inset 0 0 30px rgba(0,0,0,.3);
                margin: 5px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-size: 100%;
                background-repeat: no-repeat;
            }

        #customers-list h3 {
            font-size: 1.2em;
            font-weight: normal;
            margin: 0 0 1px 0;
            padding: 0;
        }

        #customers-list p {
            margin: 0;
            padding: 0;
            font-size: .8em;
        }


        /*///////////////////////*/
        .k-treeview .k-in {
            padding: 5px;
        }

        #ItemCategTreeview .k-sprite {
            background-image: url("/Content/assets/global/img/coloricons-sprite.png");
        }

        .rootfolder {
            background-position: 0 0;
        }

        .folder {
            background-position: 0 -16px;
        }

        .pdf {
            background-position: 0 -32px;
        }

        .html {
            background-position: 0 -48px;
        }

        .image {
            background-position: 0 -64px;
        }

        /*.demo-section {
            float: left;
            width: 200px;
            margin: 0 60px 0 0;
        }*/
    </style>
    <input id="access_token" data-ng-model="token" type="hidden"
           data-ng-init="token='@Session["access_token"]'" />
    <div class="modal-body form">
        <div class="portlet grey-cascade box">
            <div class="portlet-title">
                <div>
                    <h3 class="title">
                        Check Batch Roll
                        <span class="pull-right"><i class="fa fa-times red" ng-click="cancel();"></i></span>

                    </h3>
                </div>
                <div><label id="lblMsg"></label></div>
            </div>
            <div class="portlet-body">

                <fieldset class="custom-fieldset">
                    <legend class="custom-legend"><b>Check Batch Roll</b></legend>

                    <table style="width:100%;padding-top:20px;">
                        <tbody>
                            <tr style="padding:15px;">
                                <td style="padding: 5px;">Check Time <span aria-required="true" style="color:red;">*</span></td>
                                <td style="padding: 5px;">

                                    <input type="text" kendo-date-time-picker k-ng-model="vmS.CHK_ROLL_DT" k-max="today" k-options="datePickerOptions" class="form-control requiredSub2" />

                                    <input type="hidden" id="DYE_BT_CARD_H_ID" name="DYE_BT_CARD_H_ID" ng-model="vmS.DYE_BT_CARD_H_ID" />
                                </td>
                            </tr>

                            <tr style="padding:15px;">
                                <td style="padding: 5px;">Check By <span aria-required="true" style="color:red;">*</span></td>
                                <td style="padding: 5px;">
                                    <select id="customers" kendo-drop-down-list options="userList" ng-model="vmS.CHECK_BY" class="form-control requiredSub2" style="width:100%;"></select>

                                </td>
                            </tr>

                            <tr style="padding:15px;">
                                <td style="padding: 5px;">Roll Status <span aria-required="true" style="color:red;">*</span></td>
                                <td style="padding: 5px;">
                                    <input type="radio" name="IS_ROLL_OK" ng-model="vmS.IS_ROLL_OK" id="is_ok" value="Y" ng-change="disableOtherType();" /><label for="is_ok"> OK</label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="IS_ROLL_OK" ng-model="vmS.IS_ROLL_OK" id="not_ok" value="N" ng-change="disableOtherType();" /><label for="not_ok"> Not Okay</label>

                                </td>
                            </tr>

                            <tr style="padding:15px;">
                                <td style="padding: 5px;"> Defect Type</td>
                                <td style="padding: 5px;">
                                    <select kendo-multi-select options='defectTypeList' id="RF_DY_DFCT_TYPE_LST" style="border: 1px solid #898383;" ng-disabled="vmS.IS_ROLL_OK=='Y'"
                                            ng-model='vmS.RF_DY_DFCT_TYPE_LST'></select>

                                </td>
                            </tr>

                            <tr style="padding:15px;">
                                <td style="padding: 5px;">Remarks</td>
                                <td style="padding: 5px;">
                                    <textarea id="REMARKS" name="REMARKS" ng-model="vmS.REMARKS" class="form-control"></textarea>

                                </td>
                            </tr>

                            <tr style="padding:15px;">
                                <td style="padding: 5px;">Reprocess Type</td>
                                <td style="padding: 5px;">
                                    <select kendo-drop-down-list name="REQ_RE_PROC_TYPE_ID" class="form-control" ng-disabled="vmS.IS_ROLL_OK=='Y'"
                                            options="btStatusList" ng-model="vmS.REQ_RE_PROC_TYPE_ID"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="padding:3px;">
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-7">
                            <button type="button" class="btn btn-sm green" ng-click="updateAll(vmS);;">Update</button>
                            <button type="button" class="btn btn-sm yellow-gold" ng-click="confirmAll(vmS);;">Confirm</button>
                            <button type="button" class="btn btn-sm default" ng-click="cancel();">Cancel</button>

                        </div>


                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</script>




<script type="text/ng-template" id="DyeingFinishingRejectDtl.html">

    <input id="access_token" data-ng-model="token" type="hidden"
           data-ng-init="token='@Session["access_token"]'" />
    <div class="modal-body">
        <div class="portlet grey-cascade box">
            <div class="portlet-title">
                <div>
                    <h3 class="title">
                        Dyeing Finishing Rejected Re-process
                        <span class="pull-right"><i class="fa fa-times red" ng-click="cancel();"></i></span>

                    </h3>
                </div>
            </div>
            <div class="portlet-body form-horizontal">

                <fieldset class="custom-fieldset ">
                    <legend class="custom-legend"><b></b></legend>

                    <fieldset class="custom-fieldset" ng-hide="collepsMaster">
                        <legend class="custom-legend"><b>Batch Info</b></legend>
                        <div><label id="lblMsg"></label></div>

                        <div class="form-group">

                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required">*</span>
                                Batch No
                            </label>
                            <div class="col-md-3">
                                <input type="text" name="DYE_BATCH_NO_LST" ng-model="vmDF.DYE_BATCH_NO_LST" class="form-control" />

                            </div>

                            <div class="col-md-1">
                                <a class="btn btn-sm yellow-gold" ng-click="searchBatchInfo(vmDF.DYE_BATCH_NO_LST);"><i class="fa fa-search"> Find</i></a>
                            </div>
                            <label class="control-label col-md-2" style="padding:0px;">
                                Weights
                            </label>
                            <div class="col-md-3">
                                <input type="text" name="ACT_BATCH_QTY_LST" ng-model="vmDF.ACT_BATCH_QTY_LST" readonly="readonly" class="form-control" />

                            </div>

                        </div>
                        <div style="padding:3px;"></div>

                        <div class="form-group">

                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Req No
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="STR_REQ_NO" placeholder="[Auto Gen]" ng-model="vmDF.STR_REQ_NO" readonly="readonly" class="form-control" />
                                <input type="hidden" name="DYE_STR_REQ_H_ID" ng-model="vmDF.DYE_STR_REQ_H_ID" />
                                <input type="hidden" name="LOAD_TIME" ng-model="vmDF.LOAD_TIME" />
                                <input type="hidden" name="UN_LOAD_TIME" ng-model="vmDF.UN_LOAD_TIME" />
                                <input type="hidden" name="DYE_BT_CARD_H_ID" ng-model="vmDF.DYE_BT_CARD_H_ID" />
                            </div>

                            <label class="control-label col-md-2" style="padding:0px;">
                                <span aria-required="true" class="required">*</span>
                                Req Date
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control required" ng-click="STR_REQ_DT_LNopen($event)" ng-focus="STR_REQ_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}"
                                       name="STR_REQ_DT" max-date="vm.today" ng-model="vmDF.STR_REQ_DT" is-open="STR_REQ_DT_LNopened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
                                       required />
                            </div>
                        </div>


                        <div class="form-group">

                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required">*</span>
                                M/C No
                            </label>
                            <div class="col-md-4">
                                <select class="form-control required" kendo-drop-down-list name="DYE_MACHINE_ID" k-option-label="'-- Select Machine --'"
                                        k-data-text-field="'DYE_MACHINE_NO'" k-data-value-field="'DYE_MACHINE_ID'"
                                        k-auto-bind="'true'" k-data-source="vm.machineList" k-ng-delay="vm.machineList" k-filter="'contains'"
                                        ng-model="vmDF.DYE_MACHINE_ID" k-on-change="vm.checkMachineCapacity(kendoEvent);"></select>
                            </div>
                            <label class="control-label col-md-2" style="padding:0px;">
                                <span aria-required="true" class="required">*</span>
                                Shift
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="DYE_SHIFT" ng-model="vmDF.DYE_SHIFT" readonly="readonly" class="form-control" />

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required">*</span>
                                Color
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="COLOR_NAME_EN" ng-model="vmDF.COLOR_NAME_EN" readonly="readonly" class="form-control" />
                                <input type="hidden" name="MC_COLOR_ID" ng-model="vmDF.MC_COLOR_ID" />

                            </div>
                            <label class="control-label col-md-2" style="padding:0px;">
                                Color Group
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="COLOR_GRP_NAME_EN" ng-model="vmDF.COLOR_GRP_NAME_EN" readonly="readonly" class="form-control" />

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required">*</span>
                                Buyer
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="BUYER_NAME_EN" ng-model="vmDF.BUYER_NAME_EN" readonly="readonly" class="form-control" />
                                <input type="hidden" name="MC_BYR_ACC_GRP_ID" ng-model="vmDF.MC_BYR_ACC_GRP_ID" />

                            </div>
                            <label class="control-label col-md-2" style="padding:0px;">
                                <span aria-required="true" class="required">*</span>
                                Style #
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="STYLE_NO" ng-model="vmDF.STYLE_NO" readonly="readonly" class="form-control" />

                                <input type="hidden" name="MC_STYLE_H_ID" ng-model="vmDF.MC_STYLE_H_ID" />
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required">*</span>
                                Order #
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="ORDER_NO" ng-model="vmDF.ORDER_NO" readonly="readonly" class="form-control" />

                            </div>
                            <label class="control-label col-md-2" style="padding:0px;">
                                <span aria-required="true" class="required">*</span>
                                Lab-dip #
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="LD_RECIPE_NO" ng-model="vmDF.LD_RECIPE_NO" readonly="readonly" class="form-control requiredSub" />
                                <input type="hidden" name="DF_BT_SUB_LOT_ID" ng-model="vmDF.DF_BT_SUB_LOT_ID" />

                            </div>
                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-2">
                                D Method
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="DYE_MTHD_NAME" ng-model="vmDF.DYE_MTHD_NAME" readonly="readonly" class="form-control" />

                            </div>
                            <label class="control-label col-md-2" style="padding:0px;">
                                <span aria-required="true" class="required">*</span>
                                Liqur Ratio
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="LQR_RATIO" ng-model="vmDF.LQR_RATIO" readonly="readonly" class="form-control requiredSub" />

                            </div>
                        </div>



                    </fieldset>
                    <fieldset class="custom-fieldset" ng-hide="collepsMaster">
                        <legend class="custom-legend"><b>Fabric Info</b></legend>
                        <table style="width:100%;padding-top:20px;">
                            <thead>
                                <tr class="clstheadMtex">
                                    <th class="clstdMtex"><b>SL #</b></th>
                                    <th class="clstdMtex"><b>Fabric Description</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmDF.BatchFabricList">
                                    <td class="clstdMtex">
                                        <b> {{$index+1}}</b>
                                    </td>
                                    <td class="clstdMtex">
                                        <b> {{item.FABRIC_DESC}}</b>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </fieldset>


                    <fieldset class="custom-fieldset" ng-hide="collepsMaster">
                        <legend class="custom-legend"><b>Sub-Batch Info</b></legend>

                        <div class="form-group">
                            <label class="control-label col-md-2" style="padding:0px;">
                                <span aria-required="true" class="required">*</span>
                                <b>Sub Lot No</b>
                            </label>

                            <div class="col-md-4">
                                <input type="text" name="SUB_LOT_NO" ng-model="vmDF.SUB_LOT_NO" style="width:50%;" class="form-control required" />

                            </div>
                            <label class="control-label col-md-2" style="padding:0px;">
                                <span aria-required="true" class="required">*</span>
                                <b>Lot Qty(Kg)</b>
                            </label>
                            <div class="col-md-4">
                                <input type="number" name="LOT_QTY" ng-model="vmDF.LOT_QTY" ng-keyup="checkBatchQty();" style="width:80px;text-align:right" class="form-control double" />
                            </div>
                        </div>
                        <div style="padding:3px;"></div>

                        <div class="form-group">

                            <label class="control-label col-md-2" for="IS_BATCH_SPLT">
                                <b>Is Batch Splt?</b>
                            </label>
                            <div class="col-md-1" style="text-align:left;">
                                <input type="checkbox" id="IS_BATCH_SPLT" name="IS_BATCH_SPLT" ng-model="vmDF.IS_BATCH_SPLT" ng-true-value="'Y'" ng-false-value="'N'" />

                            </div>

                        </div>
                    </fieldset>
                    <div style="padding:3px;"></div>
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-7">
                            <button type="button" class="btn btn-sm green" ng-click="submitAll(vmDF);;">Back to Dyeing</button>
                            <button type="button" class="btn btn-sm default" ng-click="cancel();">Cancel</button>

                        </div>


                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</script>