@model IEnumerable<ERP.Model.Admin.HrSectionModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New", "AddNew")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HR_SECTION_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PARENT_HR_SECTION_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECTION_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECTION_NAME_EN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECTION_NAME_BN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECTION_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECTION_PREFIX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECTION_LEVEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_LEAF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_LOGIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VERSION_NO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HR_SECTION_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PARENT_HR_SECTION_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECTION_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECTION_NAME_EN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECTION_NAME_BN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECTION_DESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECTION_PREFIX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECTION_LEVEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_LEAF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_ACTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATION_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATE_LOGIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VERSION_NO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
