@model ERP.Model.HrDesigModel


@{
    ViewBag.Title = "Edit";
}

<div class="portlet box blue-dark" ng-controller="DesigController as vm">
    <div class="portlet-title">
        <div class="caption">
            @*<i class="fa fa-gift"></i>*@Designation Information [Edit]
        </div>
        @*<div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="javascript:;" class="reload">
                </a>
                <a href="javascript:;" class="remove">
                </a>
            </div>*@
    </div>
    <div class="portlet-body">

        <div class="row">

            <div class="col-md-12">
                <form id="frmDesignation" name="frmDesignation" class="form-horizontal" method="post" action="\Admin\HrDesignation\GEdit" kendo-validator="validator">

                    <div class="form-body">

                        <input type="hidden" class="form-control" name="HR_DESIGNATION_ID" value="@Model.HR_DESIGNATION_ID" />

                        <p>&nbsp;</p>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Department
                            </label>
                            <div class="col-md-7">
                                <select kendo-drop-down-list class="form-control" name="HR_DEPARTMENT_ID" options="vm.departmentList" value="@Model.HR_DEPARTMENT_ID" required data-required-msg="Please select department"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Designation Code
                            </label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" name="DESIGNATION_CODE" value="@Model.DESIGNATION_CODE" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Designation Name[E]
                            </label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" name="DESIGNATION_NAME_EN" value="@Model.DESIGNATION_NAME_EN" required data-required-msg="Please input designation name [E]" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Designation Name[B]
                            </label>
                            <div class="col-md-7">
                                <input type="text" class="form-control banglafont" name="DESIGNATION_NAME_BN" value="@Model.DESIGNATION_NAME_BN" />
                                <span class="k-invalid-msg" data-for="DEPARTMENT_NAME_BN"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Short Name
                            </label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" name="DESIGNATION_SNAME" value="@Model.DESIGNATION_SNAME" required data-required-msg="Please input short name" />
                                <span class="k-invalid-msg" data-for="DESIGNATION_SNAME"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Description
                            </label>
                            <div class="col-md-7">
                                <textarea class="form-control" name="DESIGNATION_DESC" rows="3">@Model.DESIGNATION_DESC</textarea>
                                <span class="k-invalid-msg" data-for="DESIGNATION_DESC"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Designation Group
                            </label>
                            <div class="col-md-7">
                                <select kendo-drop-down-list class="form-control" name="HR_DESIGNATION_GRP_ID" options="vm.designationGrpList" value="@Model.HR_DESIGNATION_GRP_ID" required data-required-msg="Please select designation group"></select>
                                <span class="k-invalid-msg" data-for="HR_DESIGNATION_GRP_ID"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Management Type
                            </label>
                            <div class="col-md-7">
                                <select kendo-drop-down-list class="form-control" name="HR_MANAGEMENT_TYPE_ID" options="vm.managementTypeList" value="@Model.HR_MANAGEMENT_TYPE_ID"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Grade
                            </label>
                            <div class="col-md-3">
                                <select kendo-drop-down-list class="form-control" name="HR_GRADE_ID" options="vm.gradeList" value="@Model.HR_GRADE_ID"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Designation Order
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="DESIG_ORDER" value="@Model.DESIG_ORDER" required data-required-msg="Please input designation order"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                            </label>
                            <div class="col-md-3">
                                @if (@Model.IS_GAJETED == "Y")
                                {
                                    <input type="checkbox" value="N" checked="checked" name="IS_GAJETED">
                                }
                                else
                                {
                                    <input type="checkbox" value="Y" name="IS_GAJETED">
                                }
                                Gajeted?
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-3">
                            </label>
                            <div class="col-md-3">
                                @if (@Model.IS_ACTIVE == "Y")
                                {
                                    <input type="checkbox" value="N" checked="checked" name="IS_ACTIVE">
                                }
                                else
                                {
                                    <input type="checkbox" value="Y" name="IS_ACTIVE">
                                }
                                Active?
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-6">
                                    <button type="submit" class="btn yellow-gold"><i class="fa fa-check"></i> Update</button>
                                    <button type="reset" class="btn blue">Cancel</button>
                                    <a href="@Url.Action("GIndex","HrDesignation")" class="btn default">Back</a>
                                </div>
                            </div>
                        </div>


                    </div>

                </form>

            </div>


        </div>






        @*<div style="border:1px solid green" class="col-md-8">*@

    </div>
</div>

