<!DOCTYPE html>
<html lang="en" data-ng-app="multitex.displayboard">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="~/Content/site.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">

    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Content/assets/admin/layout4/css/themes/grey.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/admin/pages/css/todo.css" rel="stylesheet" type="text/css" />

</head>
<body style="font-size: 20px; background-color: #070a15;">
    <!-- BEGIN CONTAINER -->
    <div class="page-container" style="padding:5px;">
        @RenderBody()
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        @*<div class="page-footer-inner">
            2015 &copy; Multifabs Ltd.
        </div>*@
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>

    <script src="~/Scripts/angular/angular.min.js"></script>
    @*<script src="~/Scripts/angular.js"></script>*@
    <script src="~/Scripts/angular/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular/angular-messages.min.js"></script>
    <script src="~/Scripts/angular/angular-touch.min.js"></script>
    <script src="~/Scripts/angular/angular-animate.min.js"></script>
    <script src="~/Scripts/angular/angular-ui-router.min.js"></script>

    <script src="~/Content/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls-0.12.1.min.js" type="text/javascript"></script>

    <!-- Utility JS Scripts -->
    <script src="~/Scripts/lodash.min.js"></script>
    <script src="~/Content/assets/global/plugins/toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/Client/app/directives/dirSlimscroll.js"></script>
    <script src="~/Scripts/ngStorage.min.js"></script>
    <!-- Main Module -->
    <script src="~/Client/app/displayboard.module.js"></script>

    <!-- Reusable Blocks/Modules -->
    <script src="~/Client/app/blocks/exception/exception.module.js"></script>
    <script src="~/Client/app/blocks/exception/exception-handler.provider.js"></script>
    <script src="~/Client/app/blocks/exception/exception.js"></script>
    <script src="~/Client/app/blocks/logger/logger.module.js"></script>
    <script src="~/Client/app/blocks/logger/logger.js"></script>


    <!--Daypilot-->
    <script src="~/Content/daypilot/js/daypilot-all.min.js"></script>

    <!-- core module -->
    <script src="~/Client/app/blocks/router/router.module.js"></script>
    <script src="~/Client/app/blocks/router/routehelper.js"></script>

    <!--Service-->
    <script src="~/Client/app/config.displayBoardRoute.js"></script>
    <script src="~/Client/app/services/displayBoardDataService.js"></script>

    <!-- SignalR Scripts -->
    <script src="~/Scripts/jquery.signalR-2.0.0.js"></script>
    <script src="~/Scripts/angular-signalr-hub.js"></script>


    @RenderSection("angularscripts", required: false)

    <script type="text/javascript">
        angular.module('multitex.displayboard').value('access_token', '@Session["access_token"]');
        angular.module('multitex.displayboard').value('cur_date_server', '@Session["multiServerCurrDate"]');
        angular.module('multitex.displayboard').value('cur_user_id', '@Session["multiScUserId"]');
        angular.module('multitex.displayboard').value('multi_login_dept_id', '@Session["multiLoginDeptId"]');
        
    </script>

</body>



<!-- END BODY -->
</html>