<!DOCTYPE html>

<html lang="en" ng-app="multitex">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MultiTex | Login Form</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="MultiTex ERP" name="description" />
    <meta content="MultiTrx ERP Development Team" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/assets/admin/pages/css/login.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Content/assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/admin/pages/css/todo.css" rel="stylesheet" type="text/css" />


    <link href="~/Content/assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Content/assets/admin/layout4/css/themes/default.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        @*<a href="index.html">
            <img src="~/Content/assets/admin/layout4/img/logo-big.png" alt=""/>
        </a>*@
        <span style="font-size:30px;color:white">MultiTex</span>
        <span style="font-size:30px;color:chocolate">ERP</span>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    @RenderBody()
    <div class="copyright">
        2015 © MultiTex ERP: Multifabs Ltd.
    </div>
    
    <!-- JqueryJs -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.hotkeys.js"></script>
    <script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- Newly added JqueryJs -->
    <!-- Utility JS Scripts -->
    <script src="~/Scripts/lodash.min.js"></script>
    <script src="~/Content/assets/global/plugins/toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/twix.min.js"></script>

    <!-- AngularJs -->
    @*<script src="~/Scripts/angular.js"></script>*@

    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular/angular-messages.min.js"></script>
    <script src="~/Scripts/angular/angular-touch.min.js"></script>
    <script src="~/Scripts/angular/angular-animate.min.js"></script>
    <script src="~/Scripts/angular/angular-ui-router.min.js"></script>


    <script src="~/Scripts/ngplus-overlay.js"></script>
    <script src="~/Content/assets/global/plugins/angularjs/ui-utils.js"></script>

    <!--Daypilot-->
    <script src="~/Content/daypilot/js/daypilot-all.min.js"></script>

    <!-- Main Module -->
    <script src="~/Client/app/app.module.js"></script>

    <!--Sub Module-->
    <script src="~/Areas/Hr/Client/app/hr.module.js"></script>
    <script src="~/Areas/Admin/Client/app/admin.module.js"></script>
    <script src="~/Areas/Security/Client/app/security.module.js"></script>
    <script src="~/Client/app/directives/directives.module.js"></script>
    <script src="~/Areas/Merchandising/Client/app/mrc.module.js"></script>
    <script src="~/Areas/Inventory/Client/app/inventory.module.js"></script>
    <script src="~/Areas/Purchase/Client/app/purchase.module.js"></script>
    <script src="~/Areas/Knitting/Client/app/knitting.module.js"></script>
    <script src="~/Areas/Dyeing/Client/app/dyeing.module.js"></script>
    <script src="~/Areas/Commercial/Client/app/cmr.module.js"></script>
    <script src="~/Areas/Garments/Client/app/garments.module.js"></script>
    <script src="~/Areas/Planning/Client/app/planning.module.js"></script>
    <script src="~/Areas/IE/Client/app/ie.module.js"></script>

    <!-- Kendo Directives -->
    <script src="~/Content/kendo/js/kendo.all.min.js"></script>
    <script src="~/Content/kendo/js/kendo.aspnetmvc.min.js"></script>


    <!-- SignalR Scripts -->
    <script src="~/Scripts/jquery.signalR-2.0.0.js"></script>
    <script src="~/Scripts/angular-signalr-hub.js"></script>


    <!-- Bootstrap Scripts -->
    <script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls-0.12.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/DateTimePicker.js"></script>
    <script src="~/Scripts/DateTimePickerJS.js"></script>

    <!-- Reusable Blocks/Modules -->
    <script src="~/Client/app/blocks/exception/exception.module.js"></script>
    <script src="~/Client/app/blocks/exception/exception-handler.provider.js"></script>
    <script src="~/Client/app/blocks/exception/exception.js"></script>
    <script src="~/Client/app/blocks/logger/logger.module.js"></script>
    <script src="~/Client/app/blocks/logger/logger.js"></script>


    <!-- core module -->
    <script src="~/Client/app/core/core.module.js"></script>
    <script src="~/Client/app/core/constants.js"></script>
    <script src="~/Client/app/core/config.js"></script>
    <script src="~/Client/app/core/core.route.js"></script>
    <script src="~/Client/app/blocks/router/router.module.js"></script>
    <script src="~/Client/app/blocks/router/routehelper.js"></script>

    <!--Directives-->
    <script src="~/Areas/Admin/Client/app/directives/admin.directives.js"></script>
    <script src="~/Areas/Hr/Client/app/directives/hr.directives.js"></script>
    <script src="~/Areas/Merchandising/Client/app/directives/mrc.directives.js"></script>
    <script src="~/Areas/Security/Client/app/directives/security.directives.js"></script>
    <script src="~/Areas/Inventory/Client/app/directives/inventory.directives.js"></script>
    <script src="~/Areas/Purchase/Client/app/directives/purchase.directives.js"></script>
    <script src="~/Areas/Knitting/Client/app/directives/knitting.directives.js"></script>
    <script src="~/Areas/Dyeing/Client/app/directives/dyeing.directives.js"></script>
    <script src="~/Areas/Commercial/Client/app/directives/cmr.directives.js"></script>


    <!--Core Controller-->
    <script src="~/Client/app/controllers/ConfirmModalController.js?v=1"></script>
    <script src="~/Client/app/controllers/MenuController.js?v=1"></script>
    <script src="~/Client/app/controllers/UserDashBoardController.js?v=1"></script>
    <script src="~/Client/app/controllers/LeaveHistroryModalController.js?v=1"></script>
    <script src="~/Client/app/controllers/SalAdvHistroryModalController.js?v=1"></script>
    <script src="~/Client/app/controllers/NotificationController.js?v=1"></script>
    <script src="~/Client/app/controllers/HrReportParamModalController.js?v=1"></script>
    <script src="~/Client/app/controllers/smplByrFeedbackModalController.js?v=1"></script>

    <script src="~/Client/app/controllers/tnaUpdateModalController.js?v=1"></script>
    <script src="~/Client/app/controllers/uploadOtherDocsController.js?v=1"></script>


    <!--Third Party Module : Angularjs-->
    <script src="~/Areas/Hr/Client/app/services/fileUploader.js"></script>
    <script src="~/Client/app/directives/gm.datepickerMultiSelect.min.js"></script>
    <script src="~/Content/assets/global/plugins/angular-input-masks.js"></script>
    <script src="~/Areas/Purchase/Client/app/services/fileUploadService.js"></script>
    <script src="~/Scripts/ngStorage.min.js"></script>
    @*<script src="~/Scripts/multiselect-tpls.min.js"></script>*@
    <script src="~/Client/app/services/fileUploadService.js"></script>





    <script src="~/Scripts/select-tpls.min.js"></script>
    <script src="~/Scripts/ngSlimscroll.min.js"></script>
    <script src="~/Client/app/directives/dirSlimscroll.js"></script>
    <script src="~/Client/app/directives/angular-dual-multi-select.js"></script>
    <script src="~/Scripts/ng-notify.min.js"></script>
    <script src="~/Scripts/angu-fixed-header-table.js"></script>

    <script src="~/Scripts/select-tpls.min.js"></script>
    <script src="~/Scripts/angular-base64-upload.min.js"></script>
    <script src="~/Scripts/xml2json.min.js"></script>
    <script src="~/Scripts/angular-xml.min.js"></script>

    <script src="~/Scripts/filereader.js"></script>


    <!--Common Service-->
    <script src="~/Client/app/services/DashBoardService.js?v=1"></script>
    <script src="~/Client/app/services/DialogService.js?v=1"></script>
    <script src="~/Client/app/services/NotificationService.js?v=1"></script>
    <script src="~/Client/app/services/commonDataService.js?v=1"></script>

    <script src="~/Areas/Security/Client/app/services/security.dataService.js"></script>

    <!-- BEGIN PAGE PLUGINS & SCRIPTS -->

    <script type="text/javascript" src="~/Content/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script src="~/Content/assets/admin/pages/scripts/todo.js" type="text/javascript"></script>

    <!-- END PAGE PLUGINS & SCRIPTS -->
    <script src="~/Content/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/Content/assets/admin/layout4/scripts/layout.js" type="text/javascript"></script>
    <script src="~/Content/assets/admin/layout4/scripts/demo.js" type="text/javascript"></script>


    <script src="~/Scripts/angular/angularjs-datetime-picker.js"></script>

    <!-- UI Validation Script -->
    <script src="~/Scripts/ui-validation.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("angularscripts", required: false)

    <script type="text/javascript">
        angular.module('multitex').value('access_token', '@Session["access_token"]');
        angular.module('multitex').value('cur_date_server', '@Session["multiServerCurrDate"]');
        angular.module('multitex').value('cur_user_id', '@Session["multiScUserId"]');
        angular.module('multitex').value('multi_login_dept_id', '@Session["multiLoginDeptId"]');
        angular.module('multitex').value('cur_pos_store_id', '@Session["multiUserPosStoreId"]');
    </script>



    <script src="~/Areas/Security/Client/app/controllers/ScUserController.js"></script>
    <script src="~/Areas/Security/Client/app/directives/DirPasswordCompare.js"></script>

    
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            //Login.init();
            Demo.init();
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>