<!DOCTYPE html>
<html lang="en" data-ng-app="multitex.menulesspage">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="~/Content/site.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">

    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Content/assets/admin/layout4/css/themes/grey.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/admin/pages/css/todo.css" rel="stylesheet" type="text/css" />

</head>
<body class="page-header-fixed" style="font-size:11px;">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top" style="background-image: url('/Content/assets/admin/layout4/img/erp-banner-1.jpg');">

        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <div class="page-logo" style="padding-left:-100px;">
                <img style="border-left-style: solid; border-left-width: 0px; margin-left: -15px;" src="/Content/assets/admin/layout4/img/logo-big.png" alt="logo" height="45" width="230">

            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>

            <a class="menu-toggler sidebar-toggler" href="/">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </a>

            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE ACTIONS -->
            <!-- DOC: Remove "hide" class to enable the page header actions -->
            <div class="page-actions">

            </div>
            <!-- END PAGE ACTIONS -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                @*<form class="search-form" action="extra_search.html" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" placeholder="Search..." name="query">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                            </span>
                        </div>
                    </form>*@
                <!-- END HEADER SEARCH BOX -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="separator hide">
                        </li>
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-bell"></i>
                                <span class="badge badge-success">

                                </span>
                            </a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>
                        <!-- END NOTIFICATION DROPDOWN -->
                        <li class="separator hide">
                        </li>
                        <!-- BEGIN INBOX DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-envelope-open"></i>
                                <span class="badge badge-danger" ng-cloak ng-bind="vm.NotifCount.MESSAGE">
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="external">
                                    <h3><span class="bold">You have 0 New</span> Messages</h3>
                                    <a ng-click="vm.clearData(182)">All</a>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- END INBOX DROPDOWN -->
                        <li class="separator hide">
                        </li>
                        <!-- BEGIN TODO DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-calendar"></i>
                                <span class="badge badge-primary">
                                </span>
                            </a>
                            <ul class="dropdown-menu extended tasks">
                                <li class="external">
                                    <h3>You have <span class="bold">0 new </span> events</h3>
                                    <a href="page_todo.html">view all</a>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- END TODO DROPDOWN -->
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile">
                                    @Session["multiLoginId"]
                                </span>
                                <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                @*<img alt="" class="img-circle" src="~/Content/assets/admin/layout4/img/avatar9.jpg" />*@
                                <img class="img-circle" src="~/UPLOAD_DOCS/EMP_PHOTOS/@Session["multiUserPic"]" alt="" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="extra_profile.html">
                                        <i class="icon-user"></i> My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="page_calendar.html">
                                        <i class="icon-calendar"></i> My Calendar
                                    </a>
                                </li>
                                <li>
                                    <a href="inbox.html">
                                        <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
                                            3
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page_todo.html">
                                        <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
                                            7
                                        </span>
                                    </a>
                                </li>
                                <li class="divider">
                                </li>
                                @*<li>
                                        <a href="extra_lock.html">
                                            <i class="icon-lock"></i> Lock Screen
                                        </a>
                                    </li>*@
                                <li>
                                    <a href="/Security/ScUser/SignIn">
                                        <i class="icon-key"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container" style="padding:5px;">
        @RenderBody()
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2015 &copy; Multifabs Ltd.
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>

    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular/angular-messages.min.js"></script>
    <script src="~/Scripts/angular/angular-touch.min.js"></script>
    <script src="~/Scripts/angular/angular-animate.min.js"></script>
    <script src="~/Scripts/angular/angular-ui-router.min.js"></script>

    <script src="~/Content/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls-0.12.1.min.js" type="text/javascript"></script>

    <!-- Utility JS Scripts -->
    <script src="~/Scripts/lodash.min.js"></script>
    <script src="~/Content/assets/global/plugins/toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/Client/app/directives/dirSlimscroll.js"></script>
    <script src="~/Scripts/ngStorage.min.js"></script>

    <!-- Main Module -->
    <script src="~/Client/app/menulesspage.module.js"></script>

    <!-- Reusable Blocks/Modules -->
    <script src="~/Client/app/blocks/exception/exception.module.js"></script>
    <script src="~/Client/app/blocks/exception/exception-handler.provider.js"></script>
    <script src="~/Client/app/blocks/exception/exception.js"></script>
    <script src="~/Client/app/blocks/logger/logger.module.js"></script>
    <script src="~/Client/app/blocks/logger/logger.js"></script>

    <!-- core module -->
    <script src="~/Client/app/blocks/router/router.module.js"></script>
    <script src="~/Client/app/blocks/router/routehelper.js"></script>

    <!--Service-->

    <script src="~/Client/app/config.menuLessRoute.js"></script>
    <script src="~/Client/app/services/menuLessPageDataService.js"></script>

    @RenderSection("angularscripts", required: false)

    <script type="text/javascript">
        angular.module('multitex.menulesspage').value('access_token', '@Session["access_token"]');
        angular.module('multitex.menulesspage').value('cur_date_server', '@Session["multiServerCurrDate"]');
        angular.module('multitex.menulesspage').value('cur_user_id', '@Session["multiScUserId"]');
        angular.module('multitex.menulesspage').value('multi_login_dept_id', '@Session["multiLoginDeptId"]');
    </script>

</body>



<!-- END BODY -->
</html>