<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Admin</a>

    </li>
    <li>
        <a href="#">HR Grade</a>
    </li>
    <li>
        <a href="#">Add New</a>
    </li>

</ul>

@model ERP.Model.HrGradeModel

@{
    ViewBag.Title = "Add New Grade";
}

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption">
            @*<i class="fa fa-gift"></i>*@Add New Grade
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            @*<a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="javascript:;" class="reload">
                </a>*@
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        @*<form action="/Areas/Admin/HrGrade/AddNew" method="post" class="form-horizontal form-bordered">*@
        @using (Html.BeginForm("AddNew", "HrGrade", FormMethod.Post, new { @class = "form-horizontal form-bordered" }))
        {
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.GRADE_NO_EN)
                        <span class="required" aria-required="true">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.GRADE_NO_EN, new { @class = "form-control", placeholder = "Input grade# [E]" })                        
                        @Html.ValidationMessageFor(model => model.GRADE_NO_EN)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.GRADE_NO_BN)
                        <span class="required" aria-required="true">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.GRADE_NO_BN, new { @class = "form-control banglafont", placeholder = "Input grade# [B]" })
                        @Html.ValidationMessageFor(model => model.GRADE_NO_BN)

                        @*<input type="text" class="form-control" maxlength="25" name="defaultconfig" id="maxlength_thresholdconfig">
                            <span class="help-block">
                                Maxlength is 25 chars. Do you want the badge to show up when there are 20 chars or less? Use the threshold option: <code>threshold: 20</code>
                            </span>*@
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-3"></label>
                    <div class="col-md-9">
                        @Html.CheckBox("IS_ACTIVE", true)
                        @Html.LabelFor(model => model.IS_ACTIVE)
                        @Html.ValidationMessageFor(model => model.IS_ACTIVE)
                    </div>
                </div>
                
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>
                        <button type="reset" class="btn blue">Cancel</button>
                        <a href="@Url.Action("Index","HrGrade")" class="btn default">Back</a>
                    </div>
                </div>
            </div>
        @*</form>*@
        }
        <!-- END FORM-->
    </div>
</div>
