Content-Type: text/html; charset=utf-8
<html>
    <body>
        <p>Dear Concern,</p>
        <p>A Knit Plan on <strong>Collar/Cuff</strong> has been created as follows;</p>
        <p><strong>Knitting Program Ref#:</strong> @Model.KNT_PLAN_NO</p>
        <p><strong>Created On:</strong> @Model.CREATION_DATE &nbsp;&nbsp;&nbsp;<strong>Created By:</strong> @Model.CREATED_BY_NAME</p>
        <p><strong>Buyer:</strong> @Model.BYR_ACC_NAME_EN &nbsp;&nbsp;&nbsp;<strong>Style No:</strong> @Model.WORK_STYLE_NO&nbsp;&nbsp;&nbsp;<strong>Order No:</strong> @Model.ORDER_NO_LIST&nbsp;&nbsp;&nbsp;<strong>Color:</strong> @Model.COLOR_NAME_EN</p>
        <br />
        <p>N.B. This is an ERP generated auto-mail. So, please don't reply.</p>
    </body>
</html>
