Content-Type: text/html; charset=utf-8
@model ERPSolution.Controllers.SendMixLotBatchApprovalMailService

To: @Model.To
Subject: Waiting for Authorization Approval: Lot Mixing in following Batch
<html>
<body>
    <div>Waiting for Authorization Approval: Lot Mixing in following Batch</div>
    <br />
    <table style="width:80%;">
        <tbody>
            <tr>
                <td><b>Buyer A/C:</b> @Model.data.BYR_ACC_NAME_EN</td>
                <td><b>Style #</b> @Model.data.BASE_STYLE_NO</td>
                <td><b>Order #</b> @Model.data.ORDER_NO_LIST</td>
            </tr>
            <tr>
                <td><b>Color:</b> @Model.data.COLOR_NAME_EN</td>
                <td><b>Batch No:</b> @Model.data.DYE_BATCH_NO_LST</td>
                <td><b>Batch Qty:</b> @Model.data.RQD_PRD_QTY Kg</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <div>Here is your OTP: <b>@Model.data.OTP_CODE</b> </div>
    <div>Please inform your OTP to the authorized person and allow LOT Mixing.</div>
</body>
</html>



